<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Toy_Shop_Otomasyonu_NTP_.Properties.Settings.Personel_kayitConnectionString"
            connectionString="Data Source=&quot;BABLI\SQLEXPRESS&quot;;Initial Catalog=Personel_kayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Toy_Shop_Otomasyonu_NTP_.Properties.Settings.ConnectionString"
            connectionString="Data Source=&quot;BABLI\SQLEXPRESS&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Toy_Shop_Otomasyonu_NTP_.Properties.Settings.Toy_Shop_OtomasyonuConnectionString"
            connectionString="Data Source=&quot;BABLI\SQLEXPRESS&quot;;Initial Catalog=&quot;Toy Shop Otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Toy_Shop_Otomasyonu_NTP_.Properties.Settings.Toy_Shop_OtomasyonuConnectionString1"
            connectionString="Data Source=DESKTOP-OC3I572\SQLEXPRESS;Initial Catalog=&quot;Toy Shop Otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>